@model Finance_Literacy_App_Web.Models.Group

@{
    ViewData["Title"] = "Создать группу";
}

<h1>Создать новую группу</h1>

<form asp-action="CreateGroup" method="post">
    <div class="form-group mb-3">
        <label for="groupName" class="form-label">Название группы</label>
        <input type="text" name="groupName" class="form-control" value="@Model" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Отмена</a>
</form>