@model Finance_Literacy_App_Web.Models.Task

<h1>Удалить задание</h1>
<h3>Вы уверены, что хотите удалить это задание?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Вопрос</dt>
        <dd class="col-sm-10">@Model.Question</dd>
        <dt class="col-sm-2">Правильный ответ</dt>
        <dd class="col-sm-10">@Model.CorrectAnswer</dd>
        <dt class="col-sm-2">Урок</dt>
        <dd class="col-sm-10">@Model.Lesson?.Title</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Отмена</a>
    </form>
</div>